@font-face {
  font-family: MyriadProBold;
  src: url(./react-project/fonts/MyriadPro-Bold.ttf) format("ttf"),
    url(./react-project/fonts/MyriadPro-Bold.eot) format("eot"),
    url(./react-project/fonts/MyriadPro-Bold.woff) format("woff");
}

@font-face {
  font-family: MyriadPro;
  src: url(./react-project/fonts/MyriadPro-Regular.ttf) format("ttf"),
    url(./react-project/fonts/MyriadPro-Regular.eot) format("eot"),
    url(./react-project/fonts/MyriadPro-Regular.woff) format("woff");
}

@font-face {
  font-family: MyriadProSemibold;
  src: url(./react-project/fonts/MyriadPro-Semibold.ttf) format("ttf"),
    url(./react-project/fonts/MyriadPro-Semibold.eot) format("eot"),
    url(./react-project/fonts/MyriadPro-Semibold.woff) format("woff");
}

/* Общие стили для странички */
.App {
  text-align: center;
  font-family: MyriadPro;
}
/* Общие стили для странички */
body {
  font-family: MyriadPro;
}
/* Общие стили для всех кнопок */
button {
  outline: none !important;
}

/* Общие стили для всех ссылок */
a {
  color: black;
  text-decoration: none;
}

/* Убери потом этот стиль и дивы в Арр, это для того, чтобы контент не заплывал под меню, пока нет нужной секции снизу */
.bodyContent {
  margin-top: 140px;
}

/* Верхнее меню */
.MenuDesktop {
  background-color: white !important;
  font-family: MyriadProSemibold;
  height: 140px;
  padding: 30px 0;
}

/* Весь контент верхнего меню десктопной версии */
.MenuContent {
  color: black;
}

/* Поинтер при наведении */
.MenuItems div {
  cursor: pointer;
}

/* Текст в кнопке в меню */
.MenuButton span {
  font-size: 12px !important; 
  padding: 1px 20px;
}

/* Сменяющийся в зависимости от ширины текст в кнопке в меню */
.menuButtonText:before {
  content: "Получить консультацию";
}

/* Номер телефона в меню */
.companyPhoneNumber a {
  font-size: 20px;
}

/* Мобильное меню */
.MenuMobile {
  display: none !important;
  background-color: white !important;
  font-family: MyriadProSemibold;
  padding-top: 10px;
}

/* Бургер-кнопка в мобильном меню */
.menuBurgerButton {
  color: black;
}

/* Логотип в мобильном меню */
.leftDrawerLogo {
  margin: 40px auto;
  width: 90%;
}

/* Пункты меню в мобильном меню */
.MobileMenuItems {
  margin-top: 40px !important;
}

/* ВЕРХНИЙ БАННЕР-СЛАЙДЕР */

/* Секция с верхний баннер-слайдером */
.TopSliderSection {
  height: 600px;
}

/* Затемняющая штука на баннере */
.topSlideDarkCover img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top;
}

/* Содержимое верхнего баннер-слайдера */
.topSliderContent {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
  text-align: center;
}

/* Заголовок на верхнем слайдере */
.topSliderTitle {
  color: white;
  text-align: center;
  font-size: 70px;
  letter-spacing: 7px;
  font-family: MyriadPro;
  padding-bottom: 30px;
}

/* Подзаголовок на верхнем слайдере */
.topSliderSubtitle {
  color: white;
  text-align: center;
  font-size: 35px;
  letter-spacing: 3px;
  font-family: MyriadPro;
  padding-bottom: 30px;
}

/* Стили для области с формой в верхнем баннер-слайдере */
.topSliderForm {
  max-width: 800px;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  width: 100%;
}

/* Кнопка со стрелочкой вниз на слайдере */
.sliderDownButton {
  bottom: -65px;
  position: absolute;
}

/* Первый баннер-слайдер */
.firstTopSlide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  position: relative;
}

/* Второй баннер-слайдер */
.secondTopSlide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

/* Третий баннер-слайдер */
.thirdTopSlide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

/* Вся секция с популярными планировками */
.popularPlansSection {
  background: #e6efe8;
  background: linear-gradient(white, #e6efe8) !important;
  padding: 100px 0 40px;
}

/* Параметры заголовка секции */
.PopularPlansSectionTitle {
  font-family: MyriadPro;
  letter-spacing: 7px;
  font-size: 40px;
  color: black;
  text-align: center;
}

/* Параметры маленького заголовка секции */
.PopularPlansSectionSubtitle {
  font-family: MyriadPro;
  font-size: 20px;
  color: black;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 60px;
}

/* Параметры квартир в карточках */
.layout_prop {
  color: #03bab0;
  padding-top: 10px;
  font-size: 18px;
}

/* Название карточки */
.cardTitle {
  padding: 20px 10px 0;
  height: 65px;
}

/* Контейнер с кнопкой "Узнать больше" в карточках */
.buttonLine {
  justify-content: center;
  margin: 15px 0;
}

/* Кнопка "Узнать больше" в карточках и Стили для всех кнопок с градиентом  */
.myCardButton,
.GradientButton {
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(90deg, #add543 0, #03bab0) !important;
  color: white !important;
  font-family: MyriadPro !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

/* Стили для параметров квартиры в карточках */
.lonelyCard,
.threeCards {
  margin: 30px auto !important;
  width: 300px;
  max-width: 350px;
  min-width: 250px;
  padding-bottom: 20px;
  min-height: 524px;
}

/* Когда три карточки с квартирами в ряду */
.threeCards {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

/* Ряд с кнопками типа квартир */
.chooseApartmentButtonLine {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

/* Наведение на кнопки выбора типа квартир */
.chooseApartmentButtonLine button:hover {
  background-color: #03bab0;
  color: white;
}

/* Название попапа */
#customized-dialog-title h4 {
  text-align: center;
  padding-top: 35px;
  font-family: MyriadPro !important;
}

/* Контент попапа кроме названия */
.dialogWindow {
  display: flex;
  justify-content: center;
}

/* Текстовый контент попапа */
.textDialogContent {
  width: 400px;
  margin-top: 20px;
  font-family: MyriadPro !important;
}

/* Информация по квартире в табличке */
.apartmentDialogInfoTable {
  width: 100%;
}

/* Выравнивание столбцов в таблице (нечетные) */
.apartmentDialogInfoTable tr td:nth-child(odd) {
  text-align: left;
}

/* Выравнивание столбцов в таблице (четные) */
.apartmentDialogInfoTable tr td:nth-child(even) {
  text-align: right;
  color: #03bab0;
  font-style: bold;
  font-size: 20px;
}

/* Блоки внутри текстового содержимого попапа */
.textDialogContent div {
  margin: 7px auto;
  text-align: center;
}

/* Блоки внутри текстового содержимого попапа */
.textDialogContentInGeneralPlan div {
  text-align: center;
}

/* Запишитесь на просмотр */
.textDialogContent > .cardFormTitle {
  font-size: 20px;
  margin: 30px 0 20px;
  text-align: center;
  letter-spacing: 2px;
  font-family: MyriadPro;
}

/* Форма в попапе с квартирой */
.dialogForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*Кнопка ОТПРАВИТЬ в попапе с квартирой */
.dialogSlideFormSubmit {
  background-color: #03bab0 !important;
  color: white !important;
  position: absolute !important;
  margin-right: 170px !important;
  margin-bottom: 60px !important;
}

/*
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #03bab0 !important;
}

.MuiFormLabel-root.Mui-focused {
  color: #03bab0 !important;
}
 */

/* Стили для горизонтальной формы обратного звонка */
.HorizontalCallBackForm {
  padding: 40px;
}

/* Стили для Title в форме заказа обратного звонка */
.HorizontalCallBackForm > div > div:nth-child(1) {
  font-size: 24px;
  letter-spacing: 3px;
}

/* Стили для Subtitle в форме заказа обратного звонка */
.HorizontalCallBackForm > div > div:nth-child(2) {
  color: #03bab0;
  font-size: 20px;
  font-weight: 600;
}

/* Вертикальная форма обратной связи */
.VerticalCallBackForm,
.VerticalCallBackForm > div:nth-child(2) > div {
  flex-direction: column;
  text-align: center;
}

/* Стили для Title в вертикальной форме заказа обратного звонка */
.VerticalCallBackForm > div > div:nth-child(1) {
  letter-spacing: 3px;
  font-size: 24px;
}

/* Вертикальная форма обратной связи  */
.VerticalCallBackForm {
  margin-top: 30px !important; 
}

.GeneralPlanSection {
  position: relative;
}

/* Секция с генеральным планом */
.GeneralPlanBackground img  {
  position: absolute;
  z-index: -1;
  width: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top;
}

/* Заголовок генерального плана */
.GeneralPlanTitle {
  padding-top: 80px;
  font-family: MyriadPro;
  letter-spacing: 7px;
  font-size: 40px;
  text-align: center;
}

/* Комментарий под заголовком генерального плана*/
.GeneralPlanSubtitle {
  font-family: MyriadPro;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
  padding-bottom: 60px;
}

/* Секция с планировками этажей */
.floorImageSection {
  background-color: white;
}

/* СЕКЦИЯ С ИКЕА-ПАРКОМ */

.IkeaParkContent {
  padding-top: 100px;
  padding-bottom: 100px;
}

/*  Background секции Икеи */
.IkeaParkBackground img {
  position: absolute;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: contain;
  background-position: center;
  width: 100%;
  z-index: -1;
}

/* Текст в секции с Икеа-парком */
.ParkSectionText {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  font-family: MyriadPro;
  color: black;
  max-width: 600px;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 1px;
}

/* Заголовок текста в секции Икеа-парк */
.ParkSectionTextTitle {
  font-size: 80px;
  letter-spacing: 3px;
  color: #add543;
  line-height: 1;
}

/* Подзаголовок текста в секции Икеа-парк */
.ParkSectionTextSubtitle {
  font-size: 40px;
  letter-spacing: 5px;
  color: #03bab0;
  line-height: 1;
  padding-bottom: 20px;
}

/* Форма в секции с Икеа-парком */
.ParkSectionForm {
  background-color: white;
  border-radius: 10px;
  max-width: 450px;
  padding: 15px;
}

@media screen and (max-width: 1225px) {
  /* Сменяющийся в зависимости от ширины текст в кнопке в меню */
  .menuButtonText:before {
    content: "Консультация";
  }
  /* Убираем форму из икеа-парк секции */
  .ParkSectionForm {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  /*Форма в баннере*/
  .topSliderForm {
    display: none;
  }
  /* Контент попапа кроме названия */
  .dialogWindow {
    flex-direction: column;
    align-items: center;
  }
  /* Текстовый контент попапа */
  .textDialogContent {
    width: 300px;
    margin-top: 0;
  }
  /* Отображение десктопного меню при появлении мобильного */
  .MenuDesktop {
    display: none !important;
  }
  /* Отображение мобильного меню при отсутствии десктопного */
  .MenuMobile {
    display: block !important;
  }
  /* Номер телефона в меню */
  .companyPhoneNumber a {
    font-size: 18px;
  }
  /* Кнопка ОТПРАВИТЬ в попапе с квартирами */
  .dialogSendButton {
    justify-content: center !important;
  }
  /* Кнопка ОТПРАВИТЬ в попапе с квартирой */
  .slide_form_submit {
    position: relative !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
  }
}

@media screen and (max-width: 680px) {
  /* Ряд с кнопками типа квартир */
  .chooseApartmentButtonLine {
    flex-direction: column;
  }
  /* Кнопки типа квартир */
  .chooseApartmentButtonLine button {
    margin: 5px 40px;
  }
  /* Лого в мобильном меню */
  .MenuMobile .MenuContent img {
    width: 150px;
  }
  /* Название попапа */
  #customized-dialog-title h4 {
    font-size: 30px;
    padding-top: 20px;
  }
  /* Заголовок в карточках с квартирами */
  .cardFormTitle {
    margin: 15px 0 10px 0 !important;
  }
  /* Заголовок генерального плана */
  .GeneralPlanTitle {
    font-size: 26px;
  }
  /* Комментарий под заголовком генерального плана*/
  .GeneralPlanSubtitle {
    font-size: 15px;
  }
  /* Заголовок на верхнем слайдере */
  .topSliderTitle {
    font-size: 50px;
  }
  /* Подзаголовок на верхнем слайдере */
  .topSliderSubtitle {
    font-size: 25px;
  }
  .PopularPlansSectionTitle {
    font-size: 30px;
  }
}

@media screen and (max-width: 400px) {
  /* Текстовый контент попапа */
  .textDialogContent {
    width: 100%;
  }
  /* Текст кнопки в Десктопном Меню */
  .MenuButton span {
    font-size: 12px !important;
  }
  /* Лого в мобильном меню */
  .MenuMobile .MenuContent img {
    width: 100px;
  }
  /* Текст в кнопке в мобильном меню */
  .MenuMobile .MenuButton span {
    padding: 0 10px;
  }
  /* Номер телефона в мобильном меню */
  .MenuMobile .companyPhoneNumber a {
    font-size: 16px;
  }
  /* Название попапа */
  #customized-dialog-title h4 {
    font-size: 24px;
  }
  /* Заголовок в карточках с квартирами */
  .cardFormTitle {
    font-size: 16px !important;
  }
  /* Заголовок на верхнем слайдере */
  .topSliderTitle {
    font-size: 30px;
  }
  /* Подзаголовок на верхнем слайдере */
  .topSliderSubtitle {
    font-size: 20px;
  }
  /* Заголовок текста в секции Икеа-парк */
.ParkSectionTextTitle {
  font-size: 50px;
  letter-spacing: 1px;
}

/* Подзаголовок текста в секции Икеа-парк */
.ParkSectionTextSubtitle {
  font-size: 25px;
  letter-spacing: 1px;
}
.ParkSectionText {
  font-size: 16px
}
}
