@font-face {
  font-family: MyriadProBold;
  src: url(./react-project/fonts/MyriadPro-Bold.ttf) format("ttf"),
    url(./react-project/fonts/MyriadPro-Bold.eot) format("eot"),
    url(./react-project/fonts/MyriadPro-Bold.woff) format("woff");
}

@font-face {
  font-family: MyriadPro;
  src: url(./react-project/fonts/MyriadPro-Regular.ttf) format("ttf"),
    url(./react-project/fonts/MyriadPro-Regular.eot) format("eot"),
    url(./react-project/fonts/MyriadPro-Regular.woff) format("woff");
}

@font-face {
  font-family: MyriadProSemibold;
  src: url(./react-project/fonts/MyriadPro-Semibold.ttf) format("ttf"),
    url(./react-project/fonts/MyriadPro-Semibold.eot) format("eot"),
    url(./react-project/fonts/MyriadPro-Semibold.woff) format("woff");
}

/* Общие стили для странички */
.App {
  text-align: center;
  font-family: MyriadPro;
}
/* Общие стили для странички */
body {
  font-family: MyriadPro;
}
/* Общие стили для всех кнопок */
button {
  outline: none !important;
}

/* Общие стили для всех ссылок */
a {
  color: black;
  text-decoration: none;
}

.MuiBadge-badge {
  color: white !important;
  font-family: MyriadPro;
}



